<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <!-- 这里啥也不用写，直接就能显示 template 里面的内容 -->
        <div id="app"></div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var isShow = new Vue({
            el: '#app',
            template: '<h1>HELLO WORLD</h1>', // 注意这里需要用引号括起来，template 中有且仅有一个根节点
        });
    </script>
</html>
