<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>Note Book</h1>
        <input type="text" v-model="inputValue" @keyup.enter="addTodoList"/>
        <ul>
            <li v-for="(item,index) in todoList">
                <span>{{ index + 1 }}</span>{{ item }}
                <button @click="removeTodoList(index)">Remove</button>
            </li>
        </ul>
        <span> {{ todoList.length }} items left</span>
        <button v-show="todoList.length > 0" @click="addTodoList">Add</button>
        <button v-if="todoList.length > 0" @click="clearAllList">Clear All</button>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- 导入 axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    var app = new Vue({
        el:"#app",
        data:{
            todoList:[],
            inputValue:""
        },
        methods:{
            addTodoList:function(){
                this.todoList.push(this.inputValue)
                this.inputValue = ""
            },
            removeTodoList:function(index){
                this.todoList.splice(index,1)
            },
            clearAllList:function(){
                this.todoList = []
            }
        }
    })
</script>
</html>